title: Przykładowy tytuł zadania

sinol_task_id: abc

sinol_contest_type: talent

memory_limit: 262144 # kB

time_limit: 1000 # ms

scores:
  1: 20
  2: 30
  3: 50


# For more options see: https://github.com/sio2project/sinol-make/blob/main/example_package/config.yml
# Or here are some basic ones.


### Interactive tasks

# Extra compilation arguments can be defined in `extra_compile_args` key.
# Each language can have different extra arguments.
# Additional files used in compilation can be defined in `extra_compilation_files` key.
# They are copied to the directory where the source code is compiled.
# All languages have the same additional files.

# extra_compilation_args:
#   cpp: ['abclib.cpp']

# extra_compilation_files: ['abclib.cpp', 'abclib.h']


### Time

# time_limit: 1000 # ms

# time_limits:
#   2: 2000
#   5: 7000

# More precise time limit for each group or test can be defined in `time_limits` key.
# The more precise time limit has higher priority (first group, then global time limit).


### Memory

# memory_limit: 262144 # kB

# memory_limits:
#   3: 131072
#   4: 131072

# More precise memory limits can be defined in `memory_limits` key.
# Same as with time limits, the more precise memory limit has higher priority.


### Title

# title: Przykładowy tytuł

# Task title visible in the system.
# If there are Polish characters, they should be written for better readability.


### Scores

# scores:
#   1: 20
#   2: 80

# Number of points for each group can be defined in `scores` key.
# If this key is not specified, then all groups have the same number of points.
# (if number of groups doesn't divide 100, then the last groups will have the remaining points).
# Group 0 always has zero points.


### Task ID

# sinol_task_id: abc

# This key represents the short name (consisting of 3 letters) of the task.
# The names of files in `prog/`, `doc/`, `in/` and `out/` directories have to start with this task id.
# This key is only used by `st-make`: running `st-make export` creates
# an archive with the proper name, which sio2 uses as the task id.


### Contest type

# sinol_contest_type: talent

# sinol-make can behave differently depending on the value of `sinol_contest_type` key.
# Mainly, it affects how points are calculated.
# If the key is not specified, then (in st-make) `talent` is used. In sinol-make (OI version) is used 'default'.


### expected scores

# sinol_expected_scores: {}

# st-make can check if the solutions run as expected when using `run` command.
# Key `sinol_expected_scores` defines expected scores for each solution on each tests.
# There should be no reason to change this key manually.
# It is automatically generated and managed by st-make.
