.venv
.venv3.12
dist
*.egg-info
build
.vscode
.idea
__pycache__
/tests/packages/**/cache
/tests/packages/**/.cache
src/sinol_make/data

# pytest-cov
.coverage*
coverage.xml

/.tox/

# Mac OS
.DS_Store
