name: pytest-github-runner
run-name: Run tests for GitHub Runner
on: push
jobs:
  pytest:
    strategy:
        matrix:
            python-version: ["3.7.17", "3.12.0"]
    name: pytest-github-runner-python-${{ matrix.python-version }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install .[tests]
          sudo apt install texlive-latex-recommended -y
          sudo apt install ghostscript -y
      - name: Run github runner pytest
        env:
          PYTEST_ADDOPTS: "--color=yes"
        run: |
          python -m pytest -v --github-runner
