name: publish
run-name: Publish to PyPi
on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build-and-publish:
    name: Build and publish to PyPi
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install build
        run: |
          python3 -m pip install build
          python3 -m pip install setuptools --upgrade
      - name: Build
        run: |
          python3 -m build --sdist --wheel --outdir dist/ .
      - name: Upload to release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload ${{ github.event.release.tag_name }} dist/*
      - name: Publish
#        if: startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.TOKEN }}
